<animation-header title="Seleccionar multiples elementos"></animation-header>

<div class="container" >
  <div class="actions">
    <button smButton (click)="showHideUserList()"> Stagger </button>
    <button smButton (click)="add()"> Add </button>
    <button smButton (click)="remove()"> Remove Last </button>
  </div>

  <sm-card-box @slideInRightList class="justify-center" *ngIf="showUserList">
    <app-user-card [user]="user" @slideInRight *ngFor="let user of usersList; trackBy: trackByUsers"></app-user-card>
  </sm-card-box>
</div>
