/* You can add global styles to this file, and also import other style files */
.zoom-in {
  transition: 300ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  max-width: 90vw;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 50%;
}
